<a href="https://colab.research.google.com/github/AllendeG/MineriaDeDatos/blob/main/Ej_Phyton_1860995.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicios básicos Phyton**
## **Ejercicio 1:**

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
matr=1860995
nomb="Nayelli A. Allende "

print(nomb + str(matr))

Nayelli A. Allende 1860995

## **Ejercicio 2:**

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [2]:
x1 = int(input("Introduce un número: " ))
x2 = int(input("Introduce otro número: "))

print("La suma de los dos numeros es:", (x1 + x2))
print("La resta de los dos numeros es:", (x1 - x2))
print("La multiplicacion de los dos numeros es:", (x1 * x2))
print("La division de los dos numeros es:", (x1 / x2))
print("El exponente de los dos numeros es:", (x1 ** x2))

Introduce un número: 5
Introduce otro número: 7
La suma de los dos numeros es: 12
La resta de los dos numeros es: -2
La multiplicacion de los dos numeros es: 35
La division de los dos numeros es: 0.7142857142857143
El exponente de los dos numeros es: 78125

## **Ejercicio 3:**
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [5]:
i=1
x=1
suma=0
multiplos=[]  
while i<=10:
      y=x*3
      suma=suma+y
      multiplos.append(y)
      x=x+1
      print(multiplos[i-1])
      i=i+1

print("\n Suma:", suma)

3
6
9
12
15
18
21
24
27
30

 Suma: 165

## **Ejercicio 4**

*   Con una función de if else, revisar si un número es par o es impar.
*   Con una función de if else, revisar si un número es primo o no.

In [9]:
x = int(input("Introduce un número: "))

if x % 2 == 0:
  print("El numero", x," es un numero par")
else:
  print("El numero", x," es un numero impar")

cont = 0
for y in range(2, x - 1):
    if x % y == 0:
        cont = 1
        break

if cont == 1:
    print("El numero", x," no es primo")
else:
    print("El numero", x," es primo")

Introduce un número: 21
El numero 21  es un numero impar
El numero 21  no es primo

## **Ejercicio 5**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [12]:
class calculadora():
    def __init__(self, x1, x2):
        self.x1 = float(x1)
        self.x2 = float(x2)

    def suma(self):
        suma = self.x1+self.x2
        print("El resultado de la suma es: ", suma)
    
    def resta(self):
        resta = self.x1-self.x2
        print("El resultado de la resta es: ", resta)

    def multiplicacion(self):
        multiplicacion = self.x1*self.x2
        print("El resultado de la multiplicación es: ", multiplicacion)

    def division(self):
        division = self.x1/self.x2
        print("El resultado de la división es: ", division)
    
    def exponente(self):
        exponente = self.x1**self.x2
        print("El resultado del exponente es: ", exponente)

x1 = input("Introduce un numero: ")
x2 = input("Introduce otro numero: ")

calculadora = calculadora(x1,x2)
calculadora.suma()
calculadora.resta()
calculadora.multiplicacion()
calculadora.division()
calculadora.exponente()

Introduce un numero: 5
Introduce otro numero: 7
El resultado de la suma es:  12.0
El resultado de la resta es:  -2.0
El resultado de la multiplicación es:  35.0
El resultado de la división es:  0.7142857142857143
El resultado del exponente es:  78125.0

# **Ejercicios con estructuras básicas de python.**
### **Tuplas**


*   Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [22]:
Altura = 1.68
Edad = 21
Vacunadx = True
Ec = 3j
print(type(Altura))
print(type(Edad))
print(type(Vacunadx))
print(type(Ec))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>



*   Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [36]:
tupla=[1,2,3,4,5,6,7,8,9,10]
print("Primer valor: ",tupla[0],"\nUltimo valor: ",tupla[9])

Primer valor:  1
Ultimo valor:  10

*   Añadir 3 valores de string a la tupla.

In [37]:
tupla.append("Uno")
tupla.append("Dos")
tupla.append("Tres")
print(tupla)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Uno', 'Dos', 'Tres']



*   Verificar si una variable existe dentro de la tupla

In [39]:
x=11
if x in tupla:
    print("La variable",x,"existe dentro de la tupla.")
else:
    print("La variable",x,"no existe dentro de la tupla.")

La variable 11 no existe dentro de la tupla.

## **Listas**


*  Crear una lista con 40 elementos aleatorios enteros

In [59]:
import random

lista = [random.randint(0,100) for _ in range(40)]
print(lista)

[91, 42, 38, 8, 56, 30, 72, 16, 12, 67, 25, 50, 23, 98, 5, 21, 18, 69, 81, 76, 61, 69, 90, 41, 28, 9, 29, 6, 61, 12, 25, 100, 10, 56, 98, 3, 11, 36, 32, 10]


*  Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [60]:
def pares(listado):
    par = [i for i in listado if i%2 == 0]
    return par

def impares(listado):
    impar = [i for i in listado if i%2 !=0]
    return impar

lista_par = pares(lista)
lista_impar = impares(lista)
print("Lista par:") 
print(lista_par)
print("Lista impar:") 
print(lista_impar)

Lista par:
[42, 38, 8, 56, 30, 72, 16, 12, 50, 98, 18, 76, 90, 28, 6, 12, 100, 10, 56, 98, 36, 32, 10]
Lista impar:
[91, 67, 25, 23, 5, 21, 69, 81, 61, 69, 41, 9, 29, 61, 25, 3, 11]


*   Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [61]:
lon_par = len(lista_par)
lon_impar = len(lista_impar)
print("La longitud de la lista con numeros pares es:", lon_par)
print("La longitud de la lista con numeros impares es:", lon_impar)

La longitud de la lista con numeros pares es: 23
La longitud de la lista con numeros impares es: 17


*  Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor

In [62]:
lista_par.sort(reverse = True)
print("Lista par:")
print(lista_par)
lista_impar.sort()
print("Lista impar:")
print(lista_impar)

Lista par:
[100, 98, 98, 90, 76, 72, 56, 56, 50, 42, 38, 36, 32, 30, 28, 18, 16, 12, 12, 10, 10, 8, 6]
Lista impar:
[3, 5, 9, 11, 21, 23, 25, 25, 29, 41, 61, 61, 67, 69, 69, 81, 91]


*   Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos

In [63]:
print("El numero maximo en la lista es:", max(lista))
print("El numero minimo en la lista es:", min(lista))
print("La suma de todos los numero de la lista es:", sum(lista))
lista.insert(0,111)
print("Lista con un valor agregado:\n", lista)

El numero maximo en la lista es: 100
El numero minimo en la lista es: 3
La suma de todos los numero de la lista es: 1685
Lista con un valor agregado:
 [111, 91, 42, 38, 8, 56, 30, 72, 16, 12, 67, 25, 50, 23, 98, 5, 21, 18, 69, 81, 76, 61, 69, 90, 41, 28, 9, 29, 6, 61, 12, 25, 100, 10, 56, 98, 3, 11, 36, 32, 10]

## **Diccionarios**


*  Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [68]:
diccionario={"Francisco":66,"Maria":51,"Leider":30,"Nelly":29,"Alondra":20,"Jowell":10}
print(diccionario)

{'Francisco': 66, 'Maria': 51, 'Leider': 30, 'Nelly': 29, 'Alondra': 20, 'Jowell': 10}



*   Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [70]:
diccionario_edad=[]
for key,value in diccionario.items():
  diccionario_edad.append(value)
diccionario_edad.sort() 
print(diccionario_edad)

[10, 20, 29, 30, 51, 66]

*   Usando el diccionario y un loop, imprimir solo los nombres.

In [71]:
for key, value in diccionario.items():
  print(key)

Francisco
Maria
Leider
Nelly
Alondra
Jowell


*   Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [74]:
diccionario['Antonio'] = 76
diccionario['Juan'] = 50
print(diccionario)

{'Francisco': 66, 'Maria': 51, 'Leider': 30, 'Nelly': 29, 'Alondra': 20, 'Jowell': 10, 'Antonio': 76, 'Juan': 50}

## **Sets**


*   Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [75]:
import random

sett = set()
i = 1
while i <= 100:
    sett.add(random.randint(1,25))
    i += 1
print(sett)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}


*   Comprueba la longitud de tu set.

In [77]:
lon_set = len(sett)
print("La longitud del set es:", lon_set)

La longitud del set es: 24


* Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [85]:
lista_set=[random.randint(1,10) for _ in range(5)]
print(lista_set)
for i in range(1,6):
  if lista_set[i-1] in sett: 
    print("El valor", lista_set[i-1],"aparece en el set inicial")
  else:
    print("El valor", lista_set[i-1],"no aparece en el set inicial")

[10, 1, 4, 4, 5]
El valor 10 aparece en el set inicial
El valor 1 aparece en el set inicial
El valor 4 aparece en el set inicial
El valor 4 aparece en el set inicial
El valor 5 aparece en el set inicial